.question-card-content {
    flex: 1 1 auto;
}

.answer-pane {
    font-size: 1.5rem;
    background-color: whitesmoke;
    color: black;
    border-top: 2px solid var(--border-blue);
    border-bottom: 2px solid var(--border-blue);
    border-left: 8px solid var(--border-blue);
    border-right: 8px solid var(--border-blue);
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 16px 8px;
    margin-top: 32px;
    margin-bottom: 32px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.answer-pane:hover {
    background-color: var(--green);
    box-shadow: 0px 0px 10px 0px var(--main-shadow-color);
    font-size: 1.6rem;
    overflow: hidden;
}

.yellow {
    color: rgb(230, 230, 0);
}

.question-category {
    font-size: 1rem;
    padding-top: 8px;
    font-weight: 500;
    color: rgba(0, 0, 0, .5);
}