:root {
    --main-shadow-color: rgba(200,200,200,0.5);
    --green: rgba(49, 130, 40);
    --background-black: #333;
    --border-blue: skyblue;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    flex: 1 1 auto;
}

.header {
    padding: 8px 16px 0px 16px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.green {
    color: yellowgreen;
}

.red {
    color: crimson;
}

.label {
    font-weight: 500;
    font-size: 1.25rem;
    margin-right: 1rem;
}